@using PartyPlaylists.Models.DataModels
@using PartyPlaylists.Services
@using SpotifyApi.NetCore
@using PartyPlaylists.Models
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage
@using Blazored.Typeahead
@using PartyPlaylists.Contexts;

@inject SpotifyService Spotify;
@inject SessionStorage SessionStorage;
@inject PlaylistContext  PlaylistContext;

<EditForm Model="@song" OnValidSubmit="@AddSong">
    <BlazoredTypeahead 
                       Placeholder="Search for song..." 
                       SearchMethod="@FindSong" 
                       @bind-Value="song" 
                       Debounce="500">
        <SelectedTemplate Context="typeAheadContext">
            @typeAheadContext.Name
        </SelectedTemplate>
        <ResultTemplate Context="typeAheadContext">
            @typeAheadContext.Name (@typeAheadContext.Artist)
        </ResultTemplate>
        <NotFoundTemplate>
            Sorry, there weren't any search results.
        </NotFoundTemplate>
    </BlazoredTypeahead>

    <button class="btn btn-primary" type="submit" style="margin:10px 0px 0px 0px;">Add Song</button>
</EditForm>




@code {
    [Parameter] public Room Room { get; set; }
    [Parameter] public EventCallback<Room> RoomChanged { get; set; }

    private RoomDataStore roomDataStore;
    private Song song = new Song();
    private string roomOwnersSpotifyId = null;
    private IPlaylist spotifyPlaylist;

    protected override void OnInitialized()
    {
        roomDataStore = new RoomDataStore(PlaylistContext);
    }

    private async Task AddSong()
    {
        if (song != null)
        {
            var token = await SessionStorage.GetItemAsync($"room{Room.Id}");
            await roomDataStore.AddSongToRoomAsync(token, Room.Id.ToString(), song);
            Room = await roomDataStore.GetItemAsync(Room.Id.ToString());
            await RoomChanged.InvokeAsync(Room);
            song = new Song();
        }
    }

    private async Task<IEnumerable<Song>> FindSong(string searchText)
    {
        return await Spotify.GetSongs(searchText);
    }
}
