@model List<PartyPlaylists.Models.DataModels.RoomSong>;

@foreach (var item in Model.OrderByDescending(s => s.SongRating))
{
    <tr>
        <td>@item.Song.Artist</td>
        <td>@item.Song.Name</td>
        <td id="@($"songRating{item.SongId}")">@item.SongRating</td>
        <td>@item.SongAddedBy</td>
        <td>
            <button class="btn btn-primary btn-sm" type="button" name="addVoteButton" value="@item.SongId">Add Vote</button>
        </td>
        <td hidden name="playerUri">@item.Song.SpotifyId</td>
    </tr>
}