@model List<PartyPlaylists.Models.DataModels.RoomSong>;

@foreach (var item in Model.OrderByDescending(s => s.SongRating))
{
    <tr>
        <td class="p-0 align-middle">
            <div class="row" style="display:table;">
                <div class="d-none d-md-block">
                    <div class="col-lg-3 col-md-3 middle-table-cell">
                        <img src="@item.Song.AlbumArt" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-7 middle-table-cell">
                    <p class="mb-0">@item.Song.Name</p>
                    <p class="mb-0 text-muted align-bottom">@item.Song.Artist</p>
                    <p class="mb-0 text-muted align-bottom"><small>Added by: @item.SongAddedBy</small></p>
                </div>
                <div class="col-lg-1 middle-table-cell">
                    <p id="@($"songRating{item.SongId}")" class="mb-0 mr-1">
                        <button class="btn btn-primary btn-sm" type="button" name="addVoteButton" value="@item.SongId">+@item.SongRating</button>
                    </p>
                </div>
            </div>
        </td>
        <td hidden name="playerUri">@item.Song.SpotifyId</td>
    </tr>
}